<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Набронировал</title>
</head>
<body>
    {% for hotel in hotels %}
    <div style="display:flex; margin-bottom: 15px;margin-left: 10px;">
        <img src="{{url_for('static', path='images/' + hotel.image_id|string + '.webp')}}" alt="Фото отеля" width="300"> 
        <div>
            <h1>{{hotel.name}}</h1>    
            <h2>{{hotel.location}}</h2>
        </div>
    </div>
    {% endfor %}
</body>
</html>